@media (min-width: 576px) {
    .modal-dialog { max-width: none; }
   }
   
   
   h2, h4{
     font-family: 'Shadows Into Light', cursive;
   }
   
   p, h5 {
     color:white;
     font-size: 20px;
     font-family: 'Abel', sans-serif;
   }
   .navbar{
   
     font-family: 'Abel', sans-serif;
     font-size: 20px;
     background-image: url('/static/img/purple.jpg');
     background-repeat: repeat-x;
   
   }
   
   body{
     background-image: url('/static/img/white.jpg');
     z-index: 0;
     background-color: rgba(255, 255, 255, 0.4);
     background-blend-mode: lighten;
   
   }
   
   .modal-content {
     background-color: rgba(255,0,255,0.7);
     text-decoration-color: white;
   
   }
   