@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    background-color: #100B00;
    overflow-x: hidden;
    
}

#txt{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

p{
  font-size: 24px;
  font-family: sans-serif;
}

#home{
  font-weight: bold;
}
#loc{
  font-weight: bold;
}
  .row {margin: 0 -5px;}
  
  .row:after {
   
    display: table;
    clear: both;
  }
  
.dropdown-item:hover{
    background-color: #655F4F;
    color: rgb(92, 212, 44);
    text-decoration: underline;
}
  
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    order: 3;
}

.img-fluid{
  width:  300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .img-fluid{
    width: 200px;
    height: 200px;
  }
  #images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
}